
<div class = "quest span-22">
  <%= render :partial => 'inspiration', :locals => {:inspiration => quest.inspiration, :url => quest.url} %>
  <%= render :partial => 'question', :locals => {:question => quest.question} %> 
  <%= render :partial => 'answers', :locals => {:answers => quest.answers} %> 
</div>
